java/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:in.vume.websvc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:in.vume.websvc" xmlns:intf="urn:in.vume.websvc" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="addResponse">

      <wsdl:part name="addReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="subResponse">

      <wsdl:part name="subReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="subRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part name="in0" type="xsd:int"/>

      <wsdl:part name="in1" type="xsd:int"/>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="add" parameterOrder="in0 in1">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sub" parameterOrder="in0 in1">

         <wsdl:input message="impl:subRequest" name="subRequest"/>

         <wsdl:output message="impl:subResponse" name="subResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="calculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:in.vume.websvc" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:in.vume.websvc" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sub">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:in.vume.websvc" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="subResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:in.vume.websvc" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:calculatorSoapBinding" name="calculator">

         <wsdlsoap:address location="http://localhost:8080/axis/services/calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
